/** top-level style **/
body { background:#ecf0f1; }
.content { padding:20px; min-height:600px; border-radius:5px; background:#FFF; }
.sect { padding:1%; border-radius:5px; width:47%; min-height:600px; color:#FFF; }
.editer { float:left; background:#3498db; }
.viewer { float:right; background:#9b59b6; }

/** common block style **/
.sect__title { font-size:20px; }
.sect__title .description { font-size:15px; display:block; }

/** edtior'children style**/


/** viwer'children style**/
.container { float:left; margin:0 auto 10px; border:1px solid #ccc; width:48%; height:200px; background:#FFF; }
.plan { float:right; }
.selected { border-color:#66afe9; box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6); }

